body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.banner {
    background-image: url(images/donat.png);
    padding: 150px;
}

.text-first {
    text-align: center;
    color: #ffff;
}

.donate-now-btn {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(165, 115, 22));
    padding: 15px;
    border-radius: 10px;
    color: #ffff;
    margin-left: 45%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    color: rgb(78, 78, 78);
}

.taka-limit {
    display: flex;
    margin: 40px 100px;
}

.taka-limit h2 {
    padding: 25px 10px;
    margin: 25px 30px;
    background-color: rgb(245, 241, 241);
    border-radius: 10px;
}

#taka-border {
    color: tomato;
    background-color: rgb(245, 205, 198);
    border: 2px solid tomato;
}

h5 {
    color: rgb(150, 151, 151);
    width: 400px;
    margin-left: 240px;
    border-bottom: 1px solid rgb(165, 164, 164);
    padding-left: 190px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.donate-now-btn2 {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(236, 160, 18));
    padding: 10px;
    border-radius: 10px;
    color: #ffff;
    margin-left: 45%;
}

#div-first {
    background-color: antiquewhite;
    padding: 15px 10px;
    margin: 5px 7px;
    border-radius: 3px;
}

#div-second {
    background-color: rgb(255, 205, 230);
    padding: 15px 10px;
    margin: 5px 7px;
    border-radius: 5px;
}

#div-third {
    background-color: rgb(235, 250, 182);
    padding: 15px 10px;
    margin: 5px 7px;
    border-radius: 3px;
}

.main-div {
    font-size: 12px;
    display: flex;
    margin: 10%;
}

.container1 {
    margin-top: 100px;
}

#our-donate-plan-text {
    font-size: 14px;
    color: rgb(141, 138, 138);
}

footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 10px;
}

#footer-text {
    color: rgb(230, 83, 25);
    font-family: 'Lobster', cursive;
}

#footer-p-text {
    color: #ffff;
    font-size: 10px;
}